/* Put your CSS here */

.navbar-toggle {
}
.container > .navbar-header, .container > .navbar-collapse {
}

.circle {
    background: black;
    padding: 10px 16px;
    border-radius: 50px;
    -webkit-transition: -webkit-transform ease-out .2s;
    width: 100px;
    height: 100px;
    left: 50%;
    position: absolute;
    margin-left: -50px;
    margin-top: 20px;
}

.north {
    -webkit-transform: translate(0,-8px);
    display: block;
    color: white;
    text-align: center;
}

@media (max-width: 768px){

}

.ember-application {
    padding-bottom: 40px;
}
